# start automatic section for 00.tex
/00.aux
/00.log
/00.md5
/00.pdf
# stop automatic section for 00.tex
# start automatic section for 01.tex
/01.aux
/01.idx
/01.ilg
/01.ind
/01.log
/01.md5
/01.pdf
# stop automatic section for 01.tex
# start automatic section for 02.tex
/02.adx
/02.and
/02.aux
/02.idx
/02.ilg
/02.ind
/02.log
/02.md5
/02.pdf
# stop automatic section for 02.tex
# start automatic section for 03.tex
/03.aux
/03.bbl
/03.blg
/03.log
/03.md5
/03.pdf
# stop automatic section for 03.tex
# start automatic section for 04.tex
/04.aux
/04.bbl
/04.blg
/04.log
/04.md5
/04.pdf
/xampl.aux
/xampl.bbl
/xampl.blg
# stop automatic section for 04.tex
